div, input, button, select {
  font-family: 'Slabo 27px', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

#container {
  width: 1024px;
  margin: 0px auto;
}

#gol {
  cursor: move;
}

#seed {
  display: none;
}

#controls {
  text-align: center;
}

.control-group {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid #ddd;
}
.control-group:last-child {
  position: relative;
  border-right: none;
}

.control-group p {
  text-align: left;
  margin: 0px;
  font-size: 12px;
  color: #999;
}

.control-group .range {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.control-group .range label {
  position: absolute;
  top: -5px;
  left: 0px;
}

.control-group .range input[type=range] {
  position: relative;
  top: 10px;
}

.control-group .range .value {
  position: absolute;
  top: -5px;
  right: 0px;
}

button {
  padding: 6px 10px;
}
